@keyframes myAnim {
    0% {
      transform: translate(0);
    }
  
    10% {
      transform: translate(-2px, -2px);
    }
  
    20% {
      transform: translate(2px, -2px);
    }
  
    30% {
      transform: translate(-2px, 2px);
    }
  
    40% {
      transform: translate(2px, 2px);
    }
  
    50% {
      transform: translate(-2px, -2px);
    }
  
    60% {
      transform: translate(2px, -2px);
    }
  
    70% {
      transform: translate(-2px, 2px);
    }
  
    80% {
      transform: translate(-2px, -2px);
    }
  
    90% {
      transform: translate(2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Constantia', sans-serif;
    background: url('background.png') center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    text-transform:uppercase;
    letter-spacing: 2px;
    font-size: 3rem;
    color: #fffffff6;
    text-shadow: 3px 2px 2px rgb(251, 12, 12), 0px -1px 3px rgba(255, 255, 255, 0.986),-3px 0px 2px rgba(61, 248, 77, 0.952),-3px 0px 2px rgba(61, 248, 77, 0.952);
    animation: myAnim 1s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite alternate forwards;
    align: center;
}

.title::after {
    font-size: 1.75rem;
    content: "- Trabajos"
}

.content {
    margin: 2em 8em;
    list-style: hiragana outside;
}

.container {
    font-size: 1.5rem;
    color: #FFFFFF;
    list-style: none;
    margin: 1em 5em;
    background-color: rgb(78, 75, 75);
    opacity: 0.7;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.container li a {
    cursor: pointer;
    color: #ffffffe5;
    text-shadow: 3px 2px 2px rgba(251, 12, 12,0.75), 0px -1px 3px rgba(12, 143, 251, 0.75),-3px 0px 2px rgba(12, 143, 251, 0.75);
    animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
    text-decoration: none;
}

.container li:hover a::after {
    font-size: 1.25rem;
    content: "◄";
}


@media (max-width: 575.98px) { 
    .content {
        margin: 1em 3em;
    }

    .title {
        font-size: 1.75rem;
    }
    
    .title::after {
        font-size: 1rem;
        content: "- Trabajos"
    }

    .container {
        font-size: 1.25rem;
        margin: .75em 2em;
    }

    .container li:hover a::after {
        font-size: 1rem;
        content: " <<<";
    }
}

@media (max-width: 730px) and (min-width: 575.98px) { 
    .content {
        margin: 2em 4em;
    }

    .title {
        font-size: 2.5rem;
    }
    
    .title::after {
        font-size: 1.50rem;
        content: "- Trabajos"
    }

    .container {
        font-size: 1.75rem;
        margin: 1em 2em;
    }

    .container li:hover a::after {
        font-size: 1.50rem;
        content: " <<<";
    }
}
